<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>种族</key>
	<array>
		<dict>
			<key>New item</key>
			<string></string>
		</dict>
		<string></string>
		<string></string>
	</array>
</dict>
</plist>
