<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Data</key>
	<array>
		<dict>
			<key>Card_0001</key>
			<dict>
				<key>Name</key>
				<string>狼</string>
				<key>Image</key>
				<string>card_0001_1</string>
				<key>CardImage</key>
				<string>card_0001_2</string>
				<key>Prepare</key>
				<string>1</string>
				<key>CardType</key>
				<string>0</string>
				<key>Attack</key>
				<string>1</string>
				<key>HP</key>
				<string>2</string>
				<key>Armor</key>
				<string>0</string>
				<key>MagicArmor</key>
				<string>0</string>
				<key>Mobile</key>
				<string>2</string>
				<key>AttackNumber</key>
				<string>1</string>
				<key>IsScope</key>
				<false/>
				<key>CounterattackType</key>
				<string>0</string>
				<key>Rebound</key>
				<string>0</string>
				<key>AttackScope</key>
				<string>0</string>
				<key>AttackGif</key>
				<string>cardAttack_2001</string>
				<key>MoveGif</key>
				<string>cardMove_1001</string>
				<key>AttackType</key>
				<string>0</string>
				<key>EnergyBallType</key>
				<string>0</string>
				<key>BallImg</key>
				<string></string>
				<key>TargetType</key>
				<string>0</string>
				<key>BasisStar</key>
				<string>1</string>
				<key>StarAttack</key>
				<string>0.3</string>
				<key>StarHP</key>
				<string>0.6</string>
				<key>Star</key>
				<string>1</string>
				<key>IsFirst</key>
				<true/>
				<key>SkillsIntro</key>
				<string></string>
				<key>Intro</key>
				<string>基础近战兵种</string>
				<key>Placeholder1</key>
				<string></string>
				<key>Placeholder2</key>
				<string></string>
				<key>Placeholder3</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>Card_1001</key>
			<dict>
				<key>Name</key>
				<string>狼</string>
				<key>Image</key>
				<string>card_1001_1</string>
				<key>CardImage</key>
				<string>card_1001_2</string>
				<key>Prepare</key>
				<string>1</string>
				<key>CardType</key>
				<string>0</string>
				<key>Attack</key>
				<string>1</string>
				<key>HP</key>
				<string>8</string>
				<key>Armor</key>
				<string>0</string>
				<key>MagicArmor</key>
				<string>0</string>
				<key>Mobile</key>
				<string>2</string>
				<key>AttackNumber</key>
				<string>1</string>
				<key>IsScope</key>
				<false/>
				<key>CounterattackType</key>
				<string>0</string>
				<key>Rebound</key>
				<string>0</string>
				<key>AttackScope</key>
				<string>0</string>
				<key>AttackGif</key>
				<string>cardAttack_1001</string>
				<key>MoveGif</key>
				<string>cardMove_1001</string>
				<key>AttackType</key>
				<string>0</string>
				<key>EnergyBallType</key>
				<string>0</string>
				<key>BallImg</key>
				<string></string>
				<key>TargetType</key>
				<string>0</string>
				<key>BasisStar</key>
				<string>1</string>
				<key>StarAttack</key>
				<string>0.3</string>
				<key>StarHP</key>
				<string>0.6</string>
				<key>Star</key>
				<string>1</string>
				<key>IsFirst</key>
				<true/>
				<key>SkillsIntro</key>
				<string></string>
				<key>Intro</key>
				<string>基础近战兵种</string>
				<key>Placeholder1</key>
				<string></string>
				<key>Placeholder2</key>
				<string></string>
				<key>Placeholder3</key>
				<string></string>
			</dict>
		</dict>
		<dict>
			<key>Card_2001</key>
			<dict>
				<key>Name</key>
				<string>狼</string>
				<key>Image</key>
				<string>card_2001_1</string>
				<key>CardImage</key>
				<string>card_2001_2</string>
				<key>Prepare</key>
				<string>1</string>
				<key>CardType</key>
				<string>0</string>
				<key>Attack</key>
				<string>1</string>
				<key>HP</key>
				<string>2</string>
				<key>Armor</key>
				<string>0</string>
				<key>MagicArmor</key>
				<string>0</string>
				<key>Mobile</key>
				<string>2</string>
				<key>AttackNumber</key>
				<string>1</string>
				<key>IsScope</key>
				<false/>
				<key>CounterattackType</key>
				<string>0</string>
				<key>Rebound</key>
				<string>0</string>
				<key>AttackScope</key>
				<string>2</string>
				<key>AttackGif</key>
				<string>cardAttack_2001</string>
				<key>MoveGif</key>
				<string>cardMove_2001</string>
				<key>AttackType</key>
				<string>0</string>
				<key>EnergyBallType</key>
				<string>0</string>
				<key>BallImg</key>
				<string></string>
				<key>TargetType</key>
				<string>0</string>
				<key>BasisStar</key>
				<string>1</string>
				<key>StarAttack</key>
				<string>0.3</string>
				<key>StarHP</key>
				<string>0.6</string>
				<key>Star</key>
				<string>1</string>
				<key>IsFirst</key>
				<true/>
				<key>SkillsIntro</key>
				<string></string>
				<key>Intro</key>
				<string>基础近战兵种</string>
				<key>Placeholder1</key>
				<string></string>
				<key>Placeholder2</key>
				<string></string>
				<key>Placeholder3</key>
				<string></string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
