<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Towers_1_1</key>
	<dict>
		<key>Name</key>
		<string>能量塔</string>
		<key>Image</key>
		<string>towers_1_1</string>
		<key>Expenditure</key>
		<string>20</string>
		<key>UpExpenditure</key>
		<string>20</string>
		<key>HP</key>
		<string>10</string>
		<key>Speed</key>
		<string>0</string>
		<key>AttackSpeed</key>
		<string>0.5</string>
		<key>ScopeAlert</key>
		<string>0</string>
		<key>ScopeAttack</key>
		<string>100</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>AttackImg</key>
		<string>roundness</string>
		<key>AttackType</key>
		<string>1</string>
		<key>MoveGif</key>
		<string></string>
		<key>Harm</key>
		<string>1</string>
		<key>MaxLevel</key>
		<string>3</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础防御塔</string>
		<key>placeholder1</key>
		<string></string>
		<key>placeholder2</key>
		<string></string>
		<key>placeholder3</key>
		<string></string>
		<key>placeholder4</key>
		<string></string>
		<key>placeholder5</key>
		<string></string>
	</dict>
	<key>Towers_1_2</key>
	<dict>
		<key>Name</key>
		<string>能量塔</string>
		<key>Image</key>
		<string>towers_1_2</string>
		<key>Expenditure</key>
		<string>20</string>
		<key>UpExpenditure</key>
		<string>50</string>
		<key>HP</key>
		<string>10</string>
		<key>Speed</key>
		<string>0</string>
		<key>AttackSpeed</key>
		<string>0.35</string>
		<key>ScopeAlert</key>
		<string>0</string>
		<key>ScopeAttack</key>
		<string>100</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>AttackImg</key>
		<string>roundness</string>
		<key>AttackType</key>
		<string>1</string>
		<key>MoveGif</key>
		<string></string>
		<key>Harm</key>
		<string>1</string>
		<key>MaxLevel</key>
		<string>3</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础防御塔</string>
		<key>placeholder1</key>
		<string></string>
		<key>placeholder2</key>
		<string></string>
		<key>placeholder3</key>
		<string></string>
		<key>placeholder4</key>
		<string></string>
		<key>placeholder5</key>
		<string></string>
	</dict>
	<key>Towers_1_3</key>
	<dict>
		<key>Name</key>
		<string>能量塔</string>
		<key>Image</key>
		<string>towers_1_3</string>
		<key>Expenditure</key>
		<string>20</string>
		<key>UpExpenditure</key>
		<string>100</string>
		<key>HP</key>
		<string>10</string>
		<key>Speed</key>
		<string>0</string>
		<key>AttackSpeed</key>
		<string>0.2</string>
		<key>ScopeAlert</key>
		<string>0</string>
		<key>ScopeAttack</key>
		<string>100</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>AttackImg</key>
		<string>roundness</string>
		<key>AttackType</key>
		<string>1</string>
		<key>MoveGif</key>
		<string></string>
		<key>Harm</key>
		<string>1</string>
		<key>MaxLevel</key>
		<string>3</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础防御塔</string>
		<key>placeholder1</key>
		<string></string>
		<key>placeholder2</key>
		<string></string>
		<key>placeholder3</key>
		<string></string>
		<key>placeholder4</key>
		<string></string>
		<key>placeholder5</key>
		<string></string>
	</dict>
	<key>Towers_2_1</key>
	<dict>
		<key>Name</key>
		<string>能量塔</string>
		<key>Image</key>
		<string>towers_2_1</string>
		<key>Expenditure</key>
		<string>20</string>
		<key>UpExpenditure</key>
		<string>20</string>
		<key>HP</key>
		<string>10</string>
		<key>Speed</key>
		<string>0</string>
		<key>AttackSpeed</key>
		<string>0.5</string>
		<key>ScopeAlert</key>
		<string>0</string>
		<key>ScopeAttack</key>
		<string>100</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>AttackImg</key>
		<string>roundness</string>
		<key>AttackType</key>
		<string>1</string>
		<key>MoveGif</key>
		<string></string>
		<key>Harm</key>
		<string>1</string>
		<key>MaxLevel</key>
		<string>3</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础防御塔</string>
		<key>placeholder1</key>
		<string></string>
		<key>placeholder2</key>
		<string></string>
		<key>placeholder3</key>
		<string></string>
		<key>placeholder4</key>
		<string></string>
		<key>placeholder5</key>
		<string></string>
	</dict>
	<key>Towers_2_2</key>
	<dict>
		<key>Name</key>
		<string>能量塔</string>
		<key>Image</key>
		<string>towers_2_2</string>
		<key>Expenditure</key>
		<string>20</string>
		<key>UpExpenditure</key>
		<string>20</string>
		<key>HP</key>
		<string>10</string>
		<key>Speed</key>
		<string>0</string>
		<key>AttackSpeed</key>
		<string>0.5</string>
		<key>ScopeAlert</key>
		<string>0</string>
		<key>ScopeAttack</key>
		<string>100</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>AttackImg</key>
		<string>roundness</string>
		<key>AttackType</key>
		<string>1</string>
		<key>MoveGif</key>
		<string></string>
		<key>Harm</key>
		<string>1</string>
		<key>MaxLevel</key>
		<string>3</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础防御塔</string>
		<key>placeholder1</key>
		<string></string>
		<key>placeholder2</key>
		<string></string>
		<key>placeholder3</key>
		<string></string>
		<key>placeholder4</key>
		<string></string>
		<key>placeholder5</key>
		<string></string>
	</dict>
	<key>Towers_2_3</key>
	<dict>
		<key>Name</key>
		<string>能量塔</string>
		<key>Image</key>
		<string>towers_2_3</string>
		<key>Expenditure</key>
		<string>20</string>
		<key>UpExpenditure</key>
		<string>20</string>
		<key>HP</key>
		<string>10</string>
		<key>Speed</key>
		<string>0</string>
		<key>AttackSpeed</key>
		<string>0.5</string>
		<key>ScopeAlert</key>
		<string>0</string>
		<key>ScopeAttack</key>
		<string>100</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>AttackImg</key>
		<string>roundness</string>
		<key>AttackType</key>
		<string>1</string>
		<key>MoveGif</key>
		<string></string>
		<key>Harm</key>
		<string>1</string>
		<key>MaxLevel</key>
		<string>3</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础防御塔</string>
		<key>placeholder1</key>
		<string></string>
		<key>placeholder2</key>
		<string></string>
		<key>placeholder3</key>
		<string></string>
		<key>placeholder4</key>
		<string></string>
		<key>placeholder5</key>
		<string></string>
	</dict>
	<key>Towers_3_1</key>
	<dict>
		<key>Name</key>
		<string>能量塔</string>
		<key>Image</key>
		<string>towers_3_1</string>
		<key>Expenditure</key>
		<string>20</string>
		<key>UpExpenditure</key>
		<string>20</string>
		<key>HP</key>
		<string>10</string>
		<key>Speed</key>
		<string>0</string>
		<key>AttackSpeed</key>
		<string>0.5</string>
		<key>ScopeAlert</key>
		<string>0</string>
		<key>ScopeAttack</key>
		<string>100</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>AttackImg</key>
		<string>roundness</string>
		<key>AttackType</key>
		<string>1</string>
		<key>MoveGif</key>
		<string></string>
		<key>Harm</key>
		<string>1</string>
		<key>MaxLevel</key>
		<string>3</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础防御塔</string>
		<key>placeholder1</key>
		<string></string>
		<key>placeholder2</key>
		<string></string>
		<key>placeholder3</key>
		<string></string>
		<key>placeholder4</key>
		<string></string>
		<key>placeholder5</key>
		<string></string>
	</dict>
	<key>Towers_3_2</key>
	<dict>
		<key>Name</key>
		<string>能量塔</string>
		<key>Image</key>
		<string>towers_3_2</string>
		<key>Expenditure</key>
		<string>20</string>
		<key>UpExpenditure</key>
		<string>20</string>
		<key>HP</key>
		<string>10</string>
		<key>Speed</key>
		<string>0</string>
		<key>AttackSpeed</key>
		<string>0.5</string>
		<key>ScopeAlert</key>
		<string>0</string>
		<key>ScopeAttack</key>
		<string>100</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>AttackImg</key>
		<string>roundness</string>
		<key>AttackType</key>
		<string>1</string>
		<key>MoveGif</key>
		<string></string>
		<key>Harm</key>
		<string>1</string>
		<key>MaxLevel</key>
		<string>3</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础防御塔</string>
		<key>placeholder1</key>
		<string></string>
		<key>placeholder2</key>
		<string></string>
		<key>placeholder3</key>
		<string></string>
		<key>placeholder4</key>
		<string></string>
		<key>placeholder5</key>
		<string></string>
	</dict>
	<key>Towers_3_3</key>
	<dict>
		<key>Name</key>
		<string>能量塔</string>
		<key>Image</key>
		<string>towers_3_3</string>
		<key>Expenditure</key>
		<string>20</string>
		<key>UpExpenditure</key>
		<string>20</string>
		<key>HP</key>
		<string>10</string>
		<key>Speed</key>
		<string>0</string>
		<key>AttackSpeed</key>
		<string>0.5</string>
		<key>ScopeAlert</key>
		<string>0</string>
		<key>ScopeAttack</key>
		<string>100</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>AttackImg</key>
		<string>roundness</string>
		<key>AttackType</key>
		<string>1</string>
		<key>MoveGif</key>
		<string></string>
		<key>Harm</key>
		<string>1</string>
		<key>MaxLevel</key>
		<string>3</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础防御塔</string>
		<key>placeholder1</key>
		<string></string>
		<key>placeholder2</key>
		<string></string>
		<key>placeholder3</key>
		<string></string>
		<key>placeholder4</key>
		<string></string>
		<key>placeholder5</key>
		<string></string>
	</dict>
	<key>Towers_4_1</key>
	<dict>
		<key>Name</key>
		<string>能量塔</string>
		<key>Image</key>
		<string>towers_4_1</string>
		<key>Expenditure</key>
		<string>20</string>
		<key>UpExpenditure</key>
		<string>20</string>
		<key>HP</key>
		<string>10</string>
		<key>Speed</key>
		<string>0</string>
		<key>AttackSpeed</key>
		<string>0.5</string>
		<key>ScopeAlert</key>
		<string>0</string>
		<key>ScopeAttack</key>
		<string>100</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>AttackImg</key>
		<string>roundness</string>
		<key>AttackType</key>
		<string>1</string>
		<key>MoveGif</key>
		<string></string>
		<key>Harm</key>
		<string>1</string>
		<key>MaxLevel</key>
		<string>3</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础防御塔</string>
		<key>placeholder1</key>
		<string></string>
		<key>placeholder2</key>
		<string></string>
		<key>placeholder3</key>
		<string></string>
		<key>placeholder4</key>
		<string></string>
		<key>placeholder5</key>
		<string></string>
	</dict>
	<key>Towers_4_2</key>
	<dict>
		<key>Name</key>
		<string>能量塔</string>
		<key>Image</key>
		<string>towers_4_2</string>
		<key>Expenditure</key>
		<string>20</string>
		<key>UpExpenditure</key>
		<string>20</string>
		<key>HP</key>
		<string>10</string>
		<key>Speed</key>
		<string>0</string>
		<key>AttackSpeed</key>
		<string>0.5</string>
		<key>ScopeAlert</key>
		<string>0</string>
		<key>ScopeAttack</key>
		<string>100</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>AttackImg</key>
		<string>roundness</string>
		<key>AttackType</key>
		<string>1</string>
		<key>MoveGif</key>
		<string></string>
		<key>Harm</key>
		<string>1</string>
		<key>MaxLevel</key>
		<string>3</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础防御塔</string>
		<key>placeholder1</key>
		<string></string>
		<key>placeholder2</key>
		<string></string>
		<key>placeholder3</key>
		<string></string>
		<key>placeholder4</key>
		<string></string>
		<key>placeholder5</key>
		<string></string>
	</dict>
	<key>Towers_4_3</key>
	<dict>
		<key>Name</key>
		<string>能量塔</string>
		<key>Image</key>
		<string>towers_4_3</string>
		<key>Expenditure</key>
		<string>20</string>
		<key>UpExpenditure</key>
		<string>20</string>
		<key>HP</key>
		<string>10</string>
		<key>Speed</key>
		<string>0</string>
		<key>AttackSpeed</key>
		<string>0.5</string>
		<key>ScopeAlert</key>
		<string>0</string>
		<key>ScopeAttack</key>
		<string>100</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>AttackImg</key>
		<string>roundness</string>
		<key>AttackType</key>
		<string>1</string>
		<key>MoveGif</key>
		<string></string>
		<key>Harm</key>
		<string>1</string>
		<key>MaxLevel</key>
		<string>3</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础防御塔</string>
		<key>placeholder1</key>
		<string></string>
		<key>placeholder2</key>
		<string></string>
		<key>placeholder3</key>
		<string></string>
		<key>placeholder4</key>
		<string></string>
		<key>placeholder5</key>
		<string></string>
	</dict>
	<key>Towers_5_1</key>
	<dict>
		<key>Name</key>
		<string>能量塔</string>
		<key>Image</key>
		<string>towers_5_1</string>
		<key>Expenditure</key>
		<string>20</string>
		<key>UpExpenditure</key>
		<string>20</string>
		<key>HP</key>
		<string>10</string>
		<key>Speed</key>
		<string>0</string>
		<key>AttackSpeed</key>
		<string>0.5</string>
		<key>ScopeAlert</key>
		<string>0</string>
		<key>ScopeAttack</key>
		<string>100</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>AttackImg</key>
		<string>roundness</string>
		<key>AttackType</key>
		<string>1</string>
		<key>MoveGif</key>
		<string></string>
		<key>Harm</key>
		<string>1</string>
		<key>MaxLevel</key>
		<string>3</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础防御塔</string>
		<key>placeholder1</key>
		<string></string>
		<key>placeholder2</key>
		<string></string>
		<key>placeholder3</key>
		<string></string>
		<key>placeholder4</key>
		<string></string>
		<key>placeholder5</key>
		<string></string>
	</dict>
	<key>Towers_5_2</key>
	<dict>
		<key>Name</key>
		<string>能量塔</string>
		<key>Image</key>
		<string>towers_5_2</string>
		<key>Expenditure</key>
		<string>20</string>
		<key>UpExpenditure</key>
		<string>20</string>
		<key>HP</key>
		<string>10</string>
		<key>Speed</key>
		<string>0</string>
		<key>AttackSpeed</key>
		<string>0.5</string>
		<key>ScopeAlert</key>
		<string>0</string>
		<key>ScopeAttack</key>
		<string>100</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>AttackImg</key>
		<string>roundness</string>
		<key>AttackType</key>
		<string>1</string>
		<key>MoveGif</key>
		<string></string>
		<key>Harm</key>
		<string>1</string>
		<key>MaxLevel</key>
		<string>3</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础防御塔</string>
		<key>placeholder1</key>
		<string></string>
		<key>placeholder2</key>
		<string></string>
		<key>placeholder3</key>
		<string></string>
		<key>placeholder4</key>
		<string></string>
		<key>placeholder5</key>
		<string></string>
	</dict>
	<key>Towers_5_3</key>
	<dict>
		<key>Name</key>
		<string>能量塔</string>
		<key>Image</key>
		<string>towers_5_3</string>
		<key>Expenditure</key>
		<string>20</string>
		<key>UpExpenditure</key>
		<string>20</string>
		<key>HP</key>
		<string>10</string>
		<key>Speed</key>
		<string>0</string>
		<key>AttackSpeed</key>
		<string>0.5</string>
		<key>ScopeAlert</key>
		<string>0</string>
		<key>ScopeAttack</key>
		<string>100</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>AttackImg</key>
		<string>roundness</string>
		<key>AttackType</key>
		<string>1</string>
		<key>MoveGif</key>
		<string></string>
		<key>Harm</key>
		<string>1</string>
		<key>MaxLevel</key>
		<string>3</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础防御塔</string>
		<key>placeholder1</key>
		<string></string>
		<key>placeholder2</key>
		<string></string>
		<key>placeholder3</key>
		<string></string>
		<key>placeholder4</key>
		<string></string>
		<key>placeholder5</key>
		<string></string>
	</dict>
	<key>Towers_6_1</key>
	<dict>
		<key>Name</key>
		<string>能量塔</string>
		<key>Image</key>
		<string>towers_6_1</string>
		<key>Expenditure</key>
		<string>20</string>
		<key>UpExpenditure</key>
		<string>20</string>
		<key>HP</key>
		<string>10</string>
		<key>Speed</key>
		<string>0</string>
		<key>AttackSpeed</key>
		<string>0.5</string>
		<key>ScopeAlert</key>
		<string>0</string>
		<key>ScopeAttack</key>
		<string>100</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>AttackImg</key>
		<string>roundness</string>
		<key>AttackType</key>
		<string>1</string>
		<key>MoveGif</key>
		<string></string>
		<key>Harm</key>
		<string>1</string>
		<key>MaxLevel</key>
		<string>3</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础防御塔</string>
		<key>placeholder1</key>
		<string></string>
		<key>placeholder2</key>
		<string></string>
		<key>placeholder3</key>
		<string></string>
		<key>placeholder4</key>
		<string></string>
		<key>placeholder5</key>
		<string></string>
	</dict>
	<key>Towers_6_2</key>
	<dict>
		<key>Name</key>
		<string>能量塔</string>
		<key>Image</key>
		<string>towers_6_2</string>
		<key>Expenditure</key>
		<string>20</string>
		<key>UpExpenditure</key>
		<string>20</string>
		<key>HP</key>
		<string>10</string>
		<key>Speed</key>
		<string>0</string>
		<key>AttackSpeed</key>
		<string>0.5</string>
		<key>ScopeAlert</key>
		<string>0</string>
		<key>ScopeAttack</key>
		<string>100</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>AttackImg</key>
		<string>roundness</string>
		<key>AttackType</key>
		<string>1</string>
		<key>MoveGif</key>
		<string></string>
		<key>Harm</key>
		<string>1</string>
		<key>MaxLevel</key>
		<string>3</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础防御塔</string>
		<key>placeholder1</key>
		<string></string>
		<key>placeholder2</key>
		<string></string>
		<key>placeholder3</key>
		<string></string>
		<key>placeholder4</key>
		<string></string>
		<key>placeholder5</key>
		<string></string>
	</dict>
	<key>Towers_6_3</key>
	<dict>
		<key>Name</key>
		<string>能量塔</string>
		<key>Image</key>
		<string>towers_6_3</string>
		<key>Expenditure</key>
		<string>20</string>
		<key>UpExpenditure</key>
		<string>20</string>
		<key>HP</key>
		<string>10</string>
		<key>Speed</key>
		<string>0</string>
		<key>AttackSpeed</key>
		<string>0.5</string>
		<key>ScopeAlert</key>
		<string>0</string>
		<key>ScopeAttack</key>
		<string>100</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>AttackImg</key>
		<string>roundness</string>
		<key>AttackType</key>
		<string>1</string>
		<key>MoveGif</key>
		<string></string>
		<key>Harm</key>
		<string>1</string>
		<key>MaxLevel</key>
		<string>3</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础防御塔</string>
		<key>placeholder1</key>
		<string></string>
		<key>placeholder2</key>
		<string></string>
		<key>placeholder3</key>
		<string></string>
		<key>placeholder4</key>
		<string></string>
		<key>placeholder5</key>
		<string></string>
	</dict>
	<key>Towers_7_1</key>
	<dict>
		<key>Name</key>
		<string>能量塔</string>
		<key>Image</key>
		<string>towers_7_1</string>
		<key>Expenditure</key>
		<string>20</string>
		<key>UpExpenditure</key>
		<string>20</string>
		<key>HP</key>
		<string>10</string>
		<key>Speed</key>
		<string>0</string>
		<key>AttackSpeed</key>
		<string>0.5</string>
		<key>ScopeAlert</key>
		<string>0</string>
		<key>ScopeAttack</key>
		<string>100</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>AttackImg</key>
		<string>roundness</string>
		<key>AttackType</key>
		<string>1</string>
		<key>MoveGif</key>
		<string></string>
		<key>Harm</key>
		<string>1</string>
		<key>MaxLevel</key>
		<string>3</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础防御塔</string>
		<key>placeholder1</key>
		<string></string>
		<key>placeholder2</key>
		<string></string>
		<key>placeholder3</key>
		<string></string>
		<key>placeholder4</key>
		<string></string>
		<key>placeholder5</key>
		<string></string>
	</dict>
	<key>Towers_7_2</key>
	<dict>
		<key>Name</key>
		<string>能量塔</string>
		<key>Image</key>
		<string>towers_7_2</string>
		<key>Expenditure</key>
		<string>20</string>
		<key>UpExpenditure</key>
		<string>20</string>
		<key>HP</key>
		<string>10</string>
		<key>Speed</key>
		<string>0</string>
		<key>AttackSpeed</key>
		<string>0.5</string>
		<key>ScopeAlert</key>
		<string>0</string>
		<key>ScopeAttack</key>
		<string>100</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>AttackImg</key>
		<string>roundness</string>
		<key>AttackType</key>
		<string>1</string>
		<key>MoveGif</key>
		<string></string>
		<key>Harm</key>
		<string>1</string>
		<key>MaxLevel</key>
		<string>3</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础防御塔</string>
		<key>placeholder1</key>
		<string></string>
		<key>placeholder2</key>
		<string></string>
		<key>placeholder3</key>
		<string></string>
		<key>placeholder4</key>
		<string></string>
		<key>placeholder5</key>
		<string></string>
	</dict>
	<key>Towers_7_3</key>
	<dict>
		<key>Name</key>
		<string>能量塔</string>
		<key>Image</key>
		<string>towers_7_3</string>
		<key>Expenditure</key>
		<string>20</string>
		<key>UpExpenditure</key>
		<string>20</string>
		<key>HP</key>
		<string>10</string>
		<key>Speed</key>
		<string>0</string>
		<key>AttackSpeed</key>
		<string>0.5</string>
		<key>ScopeAlert</key>
		<string>0</string>
		<key>ScopeAttack</key>
		<string>100</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>AttackImg</key>
		<string>roundness</string>
		<key>AttackType</key>
		<string>1</string>
		<key>MoveGif</key>
		<string></string>
		<key>Harm</key>
		<string>1</string>
		<key>MaxLevel</key>
		<string>3</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础防御塔</string>
		<key>placeholder1</key>
		<string></string>
		<key>placeholder2</key>
		<string></string>
		<key>placeholder3</key>
		<string></string>
		<key>placeholder4</key>
		<string></string>
		<key>placeholder5</key>
		<string></string>
	</dict>
	<key>Towers_8_1</key>
	<dict>
		<key>Name</key>
		<string>能量塔</string>
		<key>Image</key>
		<string>towers_8_1</string>
		<key>Expenditure</key>
		<string>20</string>
		<key>UpExpenditure</key>
		<string>20</string>
		<key>HP</key>
		<string>10</string>
		<key>Speed</key>
		<string>0</string>
		<key>AttackSpeed</key>
		<string>0.5</string>
		<key>ScopeAlert</key>
		<string>0</string>
		<key>ScopeAttack</key>
		<string>100</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>AttackImg</key>
		<string>roundness</string>
		<key>AttackType</key>
		<string>1</string>
		<key>MoveGif</key>
		<string></string>
		<key>Harm</key>
		<string>1</string>
		<key>MaxLevel</key>
		<string>3</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础防御塔</string>
		<key>placeholder1</key>
		<string></string>
		<key>placeholder2</key>
		<string></string>
		<key>placeholder3</key>
		<string></string>
		<key>placeholder4</key>
		<string></string>
		<key>placeholder5</key>
		<string></string>
	</dict>
	<key>Towers_8_2</key>
	<dict>
		<key>Name</key>
		<string>能量塔</string>
		<key>Image</key>
		<string>towers_8_2</string>
		<key>Expenditure</key>
		<string>20</string>
		<key>UpExpenditure</key>
		<string>20</string>
		<key>HP</key>
		<string>10</string>
		<key>Speed</key>
		<string>0</string>
		<key>AttackSpeed</key>
		<string>0.5</string>
		<key>ScopeAlert</key>
		<string>0</string>
		<key>ScopeAttack</key>
		<string>100</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>AttackImg</key>
		<string>roundness</string>
		<key>AttackType</key>
		<string>1</string>
		<key>MoveGif</key>
		<string></string>
		<key>Harm</key>
		<string>1</string>
		<key>MaxLevel</key>
		<string>3</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础防御塔</string>
		<key>placeholder1</key>
		<string></string>
		<key>placeholder2</key>
		<string></string>
		<key>placeholder3</key>
		<string></string>
		<key>placeholder4</key>
		<string></string>
		<key>placeholder5</key>
		<string></string>
	</dict>
	<key>Towers_8_3</key>
	<dict>
		<key>Name</key>
		<string>能量塔</string>
		<key>Image</key>
		<string>towers_8_3</string>
		<key>Expenditure</key>
		<string>20</string>
		<key>UpExpenditure</key>
		<string>20</string>
		<key>HP</key>
		<string>10</string>
		<key>Speed</key>
		<string>0</string>
		<key>AttackSpeed</key>
		<string>0.5</string>
		<key>ScopeAlert</key>
		<string>0</string>
		<key>ScopeAttack</key>
		<string>100</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>AttackImg</key>
		<string>roundness</string>
		<key>AttackType</key>
		<string>1</string>
		<key>MoveGif</key>
		<string></string>
		<key>Harm</key>
		<string>1</string>
		<key>MaxLevel</key>
		<string>3</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础防御塔</string>
		<key>placeholder1</key>
		<string></string>
		<key>placeholder2</key>
		<string></string>
		<key>placeholder3</key>
		<string></string>
		<key>placeholder4</key>
		<string></string>
		<key>placeholder5</key>
		<string></string>
	</dict>
	<key>Towers_9_1</key>
	<dict>
		<key>Name</key>
		<string>能量塔</string>
		<key>Image</key>
		<string>towers_9_1</string>
		<key>Expenditure</key>
		<string>20</string>
		<key>UpExpenditure</key>
		<string>20</string>
		<key>HP</key>
		<string>10</string>
		<key>Speed</key>
		<string>0</string>
		<key>AttackSpeed</key>
		<string>0.5</string>
		<key>ScopeAlert</key>
		<string>0</string>
		<key>ScopeAttack</key>
		<string>100</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>AttackImg</key>
		<string>roundness</string>
		<key>AttackType</key>
		<string>1</string>
		<key>MoveGif</key>
		<string></string>
		<key>Harm</key>
		<string>1</string>
		<key>MaxLevel</key>
		<string>3</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础防御塔</string>
		<key>placeholder1</key>
		<string></string>
		<key>placeholder2</key>
		<string></string>
		<key>placeholder3</key>
		<string></string>
		<key>placeholder4</key>
		<string></string>
		<key>placeholder5</key>
		<string></string>
	</dict>
	<key>Towers_9_2</key>
	<dict>
		<key>Name</key>
		<string>能量塔</string>
		<key>Image</key>
		<string>towers_9_2</string>
		<key>Expenditure</key>
		<string>20</string>
		<key>UpExpenditure</key>
		<string>60</string>
		<key>HP</key>
		<string>10</string>
		<key>Speed</key>
		<string>0</string>
		<key>AttackSpeed</key>
		<string>0.5</string>
		<key>ScopeAlert</key>
		<string>0</string>
		<key>ScopeAttack</key>
		<string>100</string>
		<key>AttackNumber</key>
		<string>2</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>AttackImg</key>
		<string>roundness</string>
		<key>AttackType</key>
		<string>1</string>
		<key>MoveGif</key>
		<string></string>
		<key>Harm</key>
		<string>1</string>
		<key>MaxLevel</key>
		<string>3</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础防御塔</string>
		<key>placeholder1</key>
		<string></string>
		<key>placeholder2</key>
		<string></string>
		<key>placeholder3</key>
		<string></string>
		<key>placeholder4</key>
		<string></string>
		<key>placeholder5</key>
		<string></string>
	</dict>
	<key>Towers_9_3</key>
	<dict>
		<key>Name</key>
		<string>能量塔</string>
		<key>Image</key>
		<string>towers_9_3</string>
		<key>Expenditure</key>
		<string>20</string>
		<key>UpExpenditure</key>
		<string>100</string>
		<key>HP</key>
		<string>10</string>
		<key>Speed</key>
		<string>0</string>
		<key>AttackSpeed</key>
		<string>0.5</string>
		<key>ScopeAlert</key>
		<string>0</string>
		<key>ScopeAttack</key>
		<string>100</string>
		<key>AttackNumber</key>
		<string>3</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>AttackImg</key>
		<string>roundness</string>
		<key>AttackType</key>
		<string>1</string>
		<key>MoveGif</key>
		<string></string>
		<key>Harm</key>
		<string>1</string>
		<key>MaxLevel</key>
		<string>3</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础防御塔</string>
		<key>placeholder1</key>
		<string></string>
		<key>placeholder2</key>
		<string></string>
		<key>placeholder3</key>
		<string></string>
		<key>placeholder4</key>
		<string></string>
		<key>placeholder5</key>
		<string></string>
	</dict>
</dict>
</plist>
