<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Towers_1</key>
	<dict>
		<key>Name</key>
		<string>能量塔</string>
		<key>Image</key>
		<string>towers_1</string>
		<key>Expenditure</key>
		<string>20</string>
		<key>HP</key>
		<string>10</string>
		<key>Speed</key>
		<string>0</string>
		<key>AttackSpeed</key>
		<string>0.5</string>
		<key>ScopeAlert</key>
		<string>0</string>
		<key>ScopeAttack</key>
		<string>100</string>
		<key>AttackNumber</key>
		<string>2</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>AttackImg</key>
		<string>roundness</string>
		<key>AttackType</key>
		<string>1</string>
		<key>MoveGif</key>
		<string></string>
		<key>Harm</key>
		<string>1</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础防御塔</string>
	</dict>
	<key>Towers_2</key>
	<dict>
		<key>Name</key>
		<string>能量塔</string>
		<key>Image</key>
		<string>towers_1</string>
		<key>Expenditure</key>
		<string>20</string>
		<key>HP</key>
		<string>10</string>
		<key>Speed</key>
		<string>0</string>
		<key>AttackSpeed</key>
		<string>0.5</string>
		<key>ScopeAlert</key>
		<string>0</string>
		<key>ScopeAttack</key>
		<string>100</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>AttackImg</key>
		<string>roundness</string>
		<key>AttackType</key>
		<string>1</string>
		<key>MoveGif</key>
		<string></string>
		<key>Harm</key>
		<string>1</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础防御塔</string>
	</dict>
</dict>
</plist>
