<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Monster_1</key>
	<dict>
		<key>Name</key>
		<string>狼</string>
		<key>Image</key>
		<string>monster_1</string>
		<key>Expenditure</key>
		<string>2</string>
		<key>Energy</key>
		<string>5</string>
		<key>HP</key>
		<string>5</string>
		<key>Armor</key>
		<string>0</string>
		<key>Speed</key>
		<string>20</string>
		<key>AttackSpeed</key>
		<string>0.5</string>
		<key>ScopeAlert</key>
		<string>30</string>
		<key>ScopeAttack</key>
		<string>10</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>MoveGif</key>
		<string>monsterMove_1</string>
		<key>Harm</key>
		<string>1</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础近战兵种</string>
	</dict>
	<key>Monster_2</key>
	<dict>
		<key>Name</key>
		<string>狼</string>
		<key>Image</key>
		<string>monster_1</string>
		<key>Expenditure</key>
		<string>2</string>
		<key>Energy</key>
		<string>5</string>
		<key>HP</key>
		<string>15</string>
		<key>Armor</key>
		<string>0</string>
		<key>Speed</key>
		<string>20</string>
		<key>AttackSpeed</key>
		<string>1</string>
		<key>ScopeAlert</key>
		<string>80</string>
		<key>ScopeAttack</key>
		<string>30</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>MoveGif</key>
		<string>monsterMove_1</string>
		<key>Harm</key>
		<string>2</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础远程兵种</string>
	</dict>
	<key>Monster_3</key>
	<dict>
		<key>Name</key>
		<string>狼</string>
		<key>Image</key>
		<string>monster_1</string>
		<key>Expenditure</key>
		<string>2</string>
		<key>Energy</key>
		<string>5</string>
		<key>HP</key>
		<string>20</string>
		<key>Armor</key>
		<string>0</string>
		<key>Speed</key>
		<string>40</string>
		<key>AttackSpeed</key>
		<string>1</string>
		<key>ScopeAlert</key>
		<string>80</string>
		<key>ScopeAttack</key>
		<string>30</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>MoveGif</key>
		<string>monsterMove_1</string>
		<key>Harm</key>
		<string>1</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础远程兵种</string>
	</dict>
	<key>Monster_4</key>
	<dict>
		<key>Name</key>
		<string>狼</string>
		<key>Image</key>
		<string>monster_1</string>
		<key>Expenditure</key>
		<string>2</string>
		<key>Energy</key>
		<string>5</string>
		<key>HP</key>
		<string>20</string>
		<key>Armor</key>
		<string>0</string>
		<key>Speed</key>
		<string>50</string>
		<key>AttackSpeed</key>
		<string>1</string>
		<key>ScopeAlert</key>
		<string>80</string>
		<key>ScopeAttack</key>
		<string>30</string>
		<key>AttackNumber</key>
		<string>1</string>
		<key>AttackBumberOfTimes</key>
		<string>1</string>
		<key>AttackGif</key>
		<string>attack</string>
		<key>MoveGif</key>
		<string>monsterMove_1</string>
		<key>Harm</key>
		<string>1</string>
		<key>IsFirst</key>
		<true/>
		<key>Intro</key>
		<string>基础远程兵种</string>
	</dict>
</dict>
</plist>
